.body-size{
  //margin: 60px;
  background-color: #ffffff;
}
.icon-size{
  font-size: x-large;
}
.text-orange{
  color: #fc8d00;
}
.center{
  text-align: center;
}
.no-line:link{
  text-decoration: none;
}
.row-margin{
  margin: 10px;
}
.text-css{
  font: status-bar;
  font-size: large;
  vertical-align: middle;
}
.cell-css{
  font-size: large;
  text-align: center;
  vertical-align: middle !important;

}
.title-cell-css{
  font-size: large;
  vertical-align: middle !important;
}
