.body-size{
  //margin: 60px;
  background-color: #ffffff;
}
.icon-size{
  font-size: x-large;
}
.text-orange{
  color: #fc8d00;
}
.center{
  text-align: center;
}
.no-line:link{
  text-decoration: none;
}
.row-margin{
  margin: 10px;
}
